.evaluate-card {
  padding: 15px;
  background-color: white;

  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .user-box {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;

      .user-photo {
        width: 8vw;
        height: 8vw;
        border-radius: 50%;
        display: inline-block;
      }

      .user-name {
        margin: 0 5px 0 10px;
        line-height: 1;
        height: 3vw;
      }

      .user-badge {
        display: inline-block;
        height: 3vw;
      }
    }

    .time {
      font-size: 3vw;
      color: #ccc;
    }
  }

  .info {
    font-size: 2.4vw;
    line-height: 1.5;
  }

  .img-box {
    display: flex;
    justify-content: flex-start;
    flex-flow: row;
    flex-wrap: wrap;

    img {
      width: 20vw;
      margin-top: 10px;
      margin-right: 10px;
    }
  }
}
