<ion-menu side="end" menuId="sideMenu" contentId="content" class="side-menu">
  <ion-header class="side-menu-header" no-border>
    <ion-toolbar>
      <ion-title>筛选</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="side-menu-content">
    <!-- 子分类、品牌 -->
    <div lines="none" class="side-menu-list">
      <div class="side-menu-item" *ngFor="let item of typeFilter; index as filterIndex">
        <h4 class="menu-item-title">
          {{item.title}}
        </h4>
        <div class="menu-item-name">
          <span
          *ngFor="let type of item.child"
          (click)="chooseType(filterIndex, type.id)"
          [ngClass]="{'active': type.id==item.sChildId}"
          >{{type.name}}</span>
        </div>
      </div>

      <!-- 属性 -->
      <div class="side-menu-item" *ngFor="let item of attributeFilter; index as attributeIndex">
        <h4 class="menu-item-title">
          {{item.title}}
        </h4>
        <div class="menu-item-name">
          <span *ngFor="let attribute of item.child"
          (click)="chooseAttribute(item.id, attribute.id)"
          [ngClass]="{'active': attribute.id==item.sChildId}"
          >{{attribute.name}}{{item.id}}{{attribute.id}}</span>
        </div>
      </div>
    </div>
  </ion-content>
</ion-menu>

