.img-slides {
  margin-top: var(--multi-plt-safe-area-top);
  height: 100vw;
  overflow: hidden;

  .slide-img {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;
  }

  .swiper-pagination {
    bottom: 10px;
    right: var(--layout-spacing);
    width: 12vw;
    line-height: 1.7;
    background-color: var(--color-background);
    border-radius: 3px;
  }
}