.filter-menu {
  z-index: 1000;
  --width: 80%;

  .filter-menu-header {
    ion-toolbar {
      ion-title {
        font-size: 4vw;
        font-weight: normal;
      }
    }
  }

  .filter-menu-content {
    --background: white;

    .menu-list {
      .menu-item {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;

        .menu-item-title {
          padding: 6px 0;
          margin: 5px 0;
          width: 17vw;
          text-align: center;
          font-size: 3vw;
          font-weight: bold;
        }

        .menu-item-name {
          display: flex;
          flex: 1;
          justify-content: flex-start;
          flex-wrap: wrap;

          span {
            padding: 6px 15px;
            margin: 5px;
            border: 1px solid #ccc;
            border-radius: 2px;
            font-size: 3vw;
          }
        }
      }
    }
  }

  .active {
    color: white;
    background-color: blue;
  }
}
